# Dependencies
node_modules/
package-lock.json

# Production
dist/
out/
build/

# Misc
.DS_Store
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/

# Testing
coverage/

# Next.js
.next/

# Backups
backups/
*.tar.gz